body {
	background-color: #FDF9ED;
}

.title{

	font-family: "neue-haas-grotesk-text", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 156px;
	line-height: 0.5;
	transform: rotate(-90deg);
	position: fixed; 
    top:300px;
	left: -140px;
    transform: rotate(-90deg) translateY(-50%);
	

}



.one {
	color: #FF1B1C;
	opacity:0.8;

  transform: rotate(180deg); 
}



.two {
	color: #FFD20A;
	opacity:0.7;

	
  transform: rotate(180deg); 
}



.three {

	color: #33658A;
	opacity:0.7;


  transform: rotate(180deg); 
}


a:link {
	color: black;
	text-decoration: none;
  }
  
  a:visited {
	color: #33658A;
	text-decoration: none;
  }
  
  a:hover {
	font-family:"neue-haas-grotesk-text", sans-serif;
	font-weight: 400;
	font-style: italic;
	text-decoration: none;
  }




.name {
	justify-content: right;
	text-align: right;
	font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 400;
font-style: normal;
	font-size: 24x;
	margin-right: 5px;
}

.title1 {

	font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 600;
font-style: normal;
text-align: right;

}

.title2 {

	font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 600;
font-style: normal;
justify-content: left;
font-size: 26px;

}

.content {
	font-family: "neue-haas-grotesk-text", sans-serif;
font-weight: 400;
font-style: normal;
justify-content: left;
font-size: 26px;
margin-left: 375px;

}


/* the shape */


/* Circles styling */
.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: -700px;
	margin-right: -450px;
	margin-left: auto;
	
  }
  
  .circle {
	width: 350px; 
	height: 350px; 
	border-radius: 50%;
	opacity: 0.7;
	position: absolute;
  }
  
  .circle:nth-child(1) {
	background-color: #FF1B1C;
	top: calc(50% - 150px); 
	left: calc(50% - 40px); 
	z-index: 3; 
  }
  
  .circle:nth-child(2) {
	background-color: #FFD20A;
	top: calc(50% - 50px); 
	left: calc(50% + 50px); 
	z-index: 2;
  }
  
  .circle:nth-child(3) {
	background-color: #33658A;
	top: calc(50% - 50px); 
	left: calc(50% - 100px); 
	z-index: 1;
  }
  


@media (max-width: 767px) {
    .title {
        font-size: 135px;
    }

	.content {

		font-size: 18px;	
		
		margin-left: 270px;
		margin-top: 40px;
	
	}

	.title2 {
		font-size: 18px;	
		
	
	}

	.lab {
		font-size: 18px;	
		
	
	}

	.circle {
		display: none;
	}

	
	

}

@media (min-width: 768px) and (max-width: 1023px) {
    .title {
		font-size: 135px;
    }

	.content {

		font-size: 18px;	
		
		margin-left: 270px;
		margin-top: 40px;
	
	}

	.title2 {
		font-size: 18px;	
		
	
	}

	.lab {
		font-size: 18px;	
		
	
	}

	.circle {
		display: none;
	}


	

  
}

